<!doctype html>
<html lang="en">
    <head>
    <meta charset="utf-8">
    <title>headless</title>
    <link rel="stylesheet" href="Shards-3.0.0/css/shards-demo.css">
    <link rel="stylesheet" href="Shards-3.0.0/css/shards-demo.css.map">
    <link rel="stylesheet" href="Shards-3.0.0/css/shards-demo.min.css">
    <link rel="stylesheet" href="Shards-3.0.0/css/shards-demo.min.css.map">
    <link rel="stylesheet" href="Shards-3.0.0/css/shards-extras.css">
    <link rel="stylesheet" href="Shards-3.0.0/css/shards-extras.css.map">
    <link rel="stylesheet" href="Shards-3.0.0/css/shards-extras.min.css">
    <link rel="stylesheet" href="Shards-3.0.0/css/shards-extras.min.css.map">
    <link rel="stylesheet" href="Shards-3.0.0/css/shards.css">
    <link rel="stylesheet" href="Shards-3.0.0/css/shards.css.map">
    <link rel="stylesheet" href="Shards-3.0.0/css/shards.min.css">
    <link rel="stylesheet" href="Shards-3.0.0/css/shards.min.css.map">
    <script src="Shards-3.0.0/jquery-3.4.1.min.js"></script>
    <script src="Shards-3.0.0/js/demo.js"></script>
    <script src="Shards-3.0.0/js/demo.min.js"></script>
    <script src="Shards-3.0.0/js/shards.js"></script>
    <script src="Shards-3.0.0/js/shards.min.js"></script>
</head>



<body>
    <div style="border: 2px solid; border-color: blue; height: 70px">
        <div style="text-align: right">
            <button class="btn btn-primary" style="margin-right: 50px; margin-top: 15px">
                <value>로그아웃</value>
            </button>
        </div>
    </div>
    <div>
        <div style="float: left; border: 2px solid; border-color: blue;">
            <div style="margin: 20px; margin-bottom: 380%">
                <a><strong>관리자홈</strong></a><br>
                <a>리뷰관리</a><br>
                <a>공지사항관리</a><br>
                <a>문의사항관리</a><br>
                <a>매출현황보기</a><br>
                <a>상품등록하기</a><br>
            </div>
        </div>
    </div>
        <div style="width: 100% border: 2px solid; border-color: blue;">
        <div style ="margin: 3%">
            <table style="border: 1px solid red; margin: auto; text-align: center;">
                <tr>
                    <td>제목</td><td>블라블라</td>
                </tr>
                <tr>
                    <td>등록날짜</td><td>블라블라</td>
                </tr>
                <tr>
                    <td>내용</td><td>어쩌구저쩌구</td>
                </tr>
            </table>
            <div style="text-align: center; margin:30px;">
                <textarea style="width: 60em; height: 10em; resize: none;">

                </textarea>
            </div>
            <div style="text-align: center; margin:30px;">
                <button style="width:700px">답변하기</button>
            </div>
        </div>
        <div>
            <table style="border: 1px solid red; margin: auto; text-align: center;">
                <tbody>
                    <tr>
                        <td>글번호</td>                        
                        <td>제목)블라블라</td>
                        <td>내용</td>
                        <td>등록날짜</td>
                    </tr>
                    <tr>
                        <td>글번호</td>
                        <td>제목)블라블라</td>
                        <td>내용</td>
                        <td>등록날짜</td>
                    </tr>
                    <tr>
                        <td>글번호</td>
                        <td>제목)블라블라</td>
                        <td>내용</td>
                        <td>등록날짜</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</body>