<?xml version="1.0" encoding="UTF-8"?>
<web-app
        version="3.0"
        xmlns="http://java.sun.com/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
        xmlns:my="http://jakarta.apache.org/tomcat/jsp2-example-taglib">
  
  <display-name>Sample</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
<!--     <jsp-config>
  <jsp-property-group>
  <url-pattern>.jsp</url-pattern>
  <include-prelude></include-prelude> 
  <include-coda>/common/footer.jsp</include-coda>
  </jsp-property-group>
  </jsp-config> -->
  
<servlet>
	<servlet-name>bookController</servlet-name>
	<servlet-class>controller.BookController</servlet-class>
</servlet>

<servlet>
	<servlet-name>mainController</servlet-name>
	<servlet-class>controller.MainController</servlet-class>
</servlet>
	
<servlet-mapping>
	<servlet-name>bookController</servlet-name>
	<url-pattern>/book/*</url-pattern>
	
</servlet-mapping>

<servlet-mapping>
	<servlet-name>mainController</servlet-name>
	<url-pattern>/main/*</url-pattern>
	
</servlet-mapping>

  
 <!--  <jsp-config>
    	
    	<jsp-property-group>
  		<url-pattern>/view/*</url-pattern>
  		<include-prelude>/common/head.jsp</include-prelude>
  		<include-coda>/common/footer.jsp</include-coda>
  		
  		</jsp-property-group>
  		
  		<jsp-property-group>
  		<url-pattern>/view/board/*</url-pattern>
  		<include-prelude>/common/boardname.jsp</include-prelude>
  		</jsp-property-group>
  		
  		<jsp-property-group>
  		<url-pattern>/view/notice/*</url-pattern>
  		<include-prelude>/common/noticename.jsp</include-prelude>
  		</jsp-property-group>
  		
  		<jsp-property-group>
  		<url-pattern>/view/download/*</url-pattern>
  		<include-prelude>/common/downloadname.jsp</include-prelude>
  		</jsp-property-group>
  
  </jsp-config> -->

</web-app>